/* reset rules */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Geologica", sans-serif;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
}
:root {
  --max: 100%;
  --sidebar: 190px;
}
/**/
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #141922;
}
.main-content{
    display: flex;
    flex-grow: 1;
    height: 0;
}

.player{
    display: flex;
    background-color: #282828;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.song-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 123px;
    column-gap: 10px;
}
.player-img{
    width: 30px;
}

/* responsive */
@media (min-width: 767.99px) {

}
@media (min-width: 991.99px) {

}
@media (min-width: 1199.99px) {

}