/* reset rules */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Geologica", sans-serif;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
}
:root {
  --max: 100%;
  --sidebar: 190px;
}
/**/
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #141922;
}
.main-content{
    display: flex;
    flex-grow: 1;
    height: 0;
}

.player{
    display: flex;
    background-color: #282828;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
.song-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 123px;
    column-gap: 10px;
}
.player-img{
    width: 30px;
}
.song-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.brano-nome{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    color: #7D7F84; 
}
.song-icons{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    color: #7D7F84;
    width: 100%;
}

.icons-reproduction{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 44%;
}
.management-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
    font-size:20px;
}
.play-button{
    margin: 0px 8px;
    font-size: 30px;
}

.reproduction-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music-lenght{
    width: 81%;
    background-color: rgb(63, 63, 63);
    border-radius: 999px;
    line-height: 5px;
}
.bar{
    width: 25%;
    background-color: rgb(155, 155, 155);
    border-radius: 999px;
    line-height: 5px;
    display: flex;
    justify-content: flex-end;
}
.circle-bar{
    font-size: 8px;
}
.right-bottons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 151px;
    column-gap: 10px;
}
/* responsive */
@media (min-width: 767.99px) {

}
@media (min-width: 991.99px) {

}
@media (min-width: 1199.99px) {

}